    @import url('https://fonts.googleapis.com/css?family=Literata&display=swap');
    body {
      font-family: Arial, Helvetica, sans-serif
    }
    h1 { font-family: 'Literata', serif;

    h1 small {
      font-family: Arial, Helvetica, sans-serif;
      font-variant-caps: all-small-caps;
      opacity: .5;
    }

    h2 { font-family: 'Lobster', sans-serif}
    h4 { font-variant-caps: all-small-caps}
    